# Node modules (no subir nunca)
node_modules/

# Archivos del entorno (datos sensibles)
.env

# Salidas de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salidas del sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación
dist/
build/

# Carpetas ocultas de VSCode o editores
.vscode/
.idea/
