# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log

# Mac
.DS_Store

# Visual Studio Code
.vscode/

# Archivos temporales
*.tmp
*.swp
*.swo

# Sistema
Thumbs.db

# Ignorar los backups
backups

# Ignorar carpetas
UTILES/
admin/
doc/

#  SECRET_KEYS
.env

# Ignorar los scripts de sincronización locales
GEMINI.md
index.html
public/catalogo/index.html
main.js
package.json